[submodule "oF_addons/ofxCv"]
	path = oF_addons/ofxCv
	url = https://github.com/kylemcdonald/ofxCv.git
[submodule "Code-Package-p5.js"]
	path = Code-Package-p5.js
	url = https://github.com/generative-design/Code-Package-p5.js.git
[submodule "oF_addons/ofxGrt"]
	path = oF_addons/ofxGrt
	url = https://github.com/nickgillian/ofxGrt.git
[submodule "oF_addons/ofxProjectionMapping"]
	path = oF_addons/ofxProjectionMapping
	url = https://github.com/genekogan/ofxProjectionMapping.git
[submodule "oF_addons/ofxVideoMapping"]
	path = oF_addons/ofxVideoMapping
	url = https://github.com/camilosw/ofxVideoMapping.git
[submodule "oF_addons/ofxKinectProjectorToolkit"]
	path = oF_addons/ofxKinectProjectorToolkit
	url = https://github.com/genekogan/ofxKinectProjectorToolkit.git
[submodule "oF_addons/ofxLearn"]
	path = oF_addons/ofxLearn
	url = https://github.com/genekogan/ofxLearn.git
[submodule "oF_addons/ofxOrbbecAstra"]
	path = oF_addons/ofxOrbbecAstra
	url = https://github.com/mattfelsen/ofxOrbbecAstra
[submodule "oF_addons/ofxRealSense2"]
	path = oF_addons/ofxRealSense2
	url = https://github.com/mizumasa/ofxRealSense2.git
[submodule "oF_addons/ofxCcv"]
	path = oF_addons/ofxCcv
	url = https://github.com/kylemcdonald/ofxCcv.git
[submodule "oF_addons/ofxFaceTracker"]
	path = oF_addons/ofxFaceTracker
	url = https://github.com/kylemcdonald/ofxFaceTracker.git
[submodule "oF_addons/ofxTimeline"]
	path = oF_addons/ofxTimeline
	url = https://github.com/YCAMInterlab/ofxTimeline.git
[submodule "oF_addons/ofxPDSP"]
	path = oF_addons/ofxPDSP
	url = https://github.com/npisanti/ofxPDSP.git
[submodule "oF_addons/ofxLibwebsockets"]
	path = oF_addons/ofxLibwebsockets
	url = https://github.com/robotconscience/ofxLibwebsockets.git
[submodule "oF_addons/ofxPS3EyeGrabber"]
	path = oF_addons/ofxPS3EyeGrabber
	url = https://github.com/bakercp/ofxPS3EyeGrabber.git
[submodule "oF_addons/ofxGVF"]
	path = oF_addons/ofxGVF
	url = https://github.com/aaronsherwood/ofxGVF.git
