[submodule "oF_addons/ofxCv"]
	path = oF_addons/ofxCv
	url = https://github.com/kylemcdonald/ofxCv.git
[submodule "Code-Package-p5.js"]
	path = Code-Package-p5.js
	url = https://github.com/generative-design/Code-Package-p5.js.git
[submodule "oF_addons/ofxGrt"]
	path = oF_addons/ofxGrt
	url = https://github.com/nickgillian/ofxGrt.git
[submodule "oF_addons/ofxProjectionMapping"]
	path = oF_addons/ofxProjectionMapping
	url = https://github.com/genekogan/ofxProjectionMapping.git
[submodule "oF_addons/ofxVideoMapping"]
	path = oF_addons/ofxVideoMapping
	url = https://github.com/camilosw/ofxVideoMapping.git
[submodule "oF_addons/ofxKinectProjectorToolkit"]
	path = oF_addons/ofxKinectProjectorToolkit
	url = https://github.com/genekogan/ofxKinectProjectorToolkit.git
[submodule "oF_addons/ofxLearn"]
	path = oF_addons/ofxLearn
	url = https://github.com/genekogan/ofxLearn.git
[submodule "oF_addons/ofxRealSense2"]
	path = oF_addons/ofxRealSense2
	url = https://github.com/mizumasa/ofxRealSense2.git
[submodule "oF_addons/ofxCcv"]
	path = oF_addons/ofxCcv
	url = https://github.com/kylemcdonald/ofxCcv.git
[submodule "oF_addons/ofxFaceTracker"]
	path = oF_addons/ofxFaceTracker
	url = https://github.com/kylemcdonald/ofxFaceTracker.git
[submodule "oF_addons/ofxTimeline"]
	path = oF_addons/ofxTimeline
	url = https://github.com/YCAMInterlab/ofxTimeline.git
[submodule "oF_addons/ofxPDSP"]
	path = oF_addons/ofxPDSP
	url = https://github.com/npisanti/ofxPDSP.git
[submodule "oF_addons/ofxLibwebsockets"]
	path = oF_addons/ofxLibwebsockets
	url = https://github.com/robotconscience/ofxLibwebsockets.git
[submodule "oF_addons/ofxPS3EyeGrabber"]
	path = oF_addons/ofxPS3EyeGrabber
	url = https://github.com/bakercp/ofxPS3EyeGrabber.git
[submodule "oF_addons/ofxGVF"]
	path = oF_addons/ofxGVF
	url = https://github.com/aaronsherwood/ofxGVF.git
[submodule "wekinator_examples"]
	path = wekinator_examples
	url = https://github.com/fiebrink1/wekinator_examples.git
[submodule "oF_addons/Maximilian"]
	path = oF_addons/Maximilian
	url = https://github.com/micknoise/Maximilian.git
[submodule "openFrameworks/ml4a-ofx"]
	path = openFrameworks/ml4a-ofx
	url = https://github.com/ml4a/ml4a-ofx.git
[submodule "oF_addons/ofxAbletonLive"]
	path = oF_addons/ofxAbletonLive
	url = https://github.com/genekogan/ofxAbletonLive.git
[submodule "oF_addons/ofxAssignment"]
	path = oF_addons/ofxAssignment
	url = https://github.com/kylemcdonald/ofxAssignment.git
[submodule "oF_addons/ofxAudioUnit"]
	path = oF_addons/ofxAudioUnit
	url = https://github.com/admsyn/ofxAudioUnit.git
[submodule "oF_addons/ofxDarknet"]
	path = oF_addons/ofxDarknet
	url = https://github.com/schwittlick/ofxDarknet.git
[submodule "oF_addons/ofxFaceTracker2"]
	path = oF_addons/ofxFaceTracker2
	url = https://github.com/HalfdanJ/ofxFaceTracker2.git
[submodule "oF_addons/ofxJSON"]
	path = oF_addons/ofxJSON
	url = https://github.com/jeffcrouse/ofxJSON.git
[submodule "oF_addons/ofxLeapMotion2"]
	path = oF_addons/ofxLeapMotion2
	url = https://github.com/genekogan/ofxLeapMotion2.git
[submodule "oF_addons/ofxOpenNI"]
	path = oF_addons/ofxOpenNI
	url = https://github.com/gameoverhack/ofxOpenNI.git
[submodule "oF_addons/ofxScreenGrab"]
	path = oF_addons/ofxScreenGrab
	url = https://github.com/genekogan/ofxScreenGrab.git
[submodule "oF_addons/ofxTemplateMatching"]
	path = oF_addons/ofxTemplateMatching
	url = https://github.com/genekogan/ofxTemplateMatching.git
[submodule "oF_addons/ofxTSNE"]
	path = oF_addons/ofxTSNE
	url = https://github.com/genekogan/ofxTSNE
[submodule "arduino/PropShieldAudio/Libraries/Arduino-Teensy-Codec-lib"]
	path = arduino/PropShieldAudio/Libraries/Arduino-Teensy-Codec-lib
	url = https://github.com/FrankBoesing/Arduino-Teensy-Codec-lib.git
[submodule "arduino/PropShieldAudio/Libraries/TeensyTransfer"]
	path = arduino/PropShieldAudio/Libraries/TeensyTransfer
	url = https://github.com/FrankBoesing/TeensyTransfer.git
[submodule "arduino/PropShieldAudio/Libraries/SerialFlash"]
	path = arduino/PropShieldAudio/Libraries/SerialFlash
	url = https://github.com/PaulStoffregen/SerialFlash.git
[submodule "oF_addons/ofxBox2d"]
	path = oF_addons/ofxBox2d
	url = https://github.com/vanderlin/ofxBox2d.git
[submodule "oF_addons/ofxPostGlitch"]
	path = oF_addons/ofxPostGlitch
	url = https://github.com/aaronsherwood/ofxPostGlitch.git
[submodule "oF_addons/ofxVideoRecorder"]
	path = oF_addons/ofxVideoRecorder
	url = https://github.com/aaronsherwood/ofxVideoRecorder.git
[submodule "oF_addons/ofxRSSDK"]
	path = oF_addons/ofxRSSDK
	url = https://github.com/aaronsherwood/ofxRSSDK
[submodule "oF_addons/ofxGuiExtended"]
	path = oF_addons/ofxGuiExtended
	url = https://github.com/maybites/ofxGuiExtended
[submodule "oF_addons/ofxAruco"]
	path = oF_addons/ofxAruco
	url = https://github.com/arturoc/ofxAruco
[submodule "oF_addons/ofxSyphon"]
	path = oF_addons/ofxSyphon
	url = https://github.com/astellato/ofxSyphon.git
[submodule "oF_addons/ofxShadertoy"]
	path = oF_addons/ofxShadertoy
	url = https://github.com/aaronsherwood/ofxShadertoy
[submodule "ofxOrbbecAstra"]
	path = ofxOrbbecAstra
	url = https://github.com/aaronsherwood/ofxOrbbecAstra.git
[submodule "ml5-examples"]
	path = ml5-examples
	url = https://github.com/ml5js/ml5-examples.git
